.button {
  height: 30px;
  min-width: 150px;
  position: relative;
  border-radius: 3px;
  margin-right: 18px;
  cursor: pointer;
  font-family: Lato;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: 0;
  }
  > i {
    margin-right: 13px;
    font-weight: 600;
    padding-top: 1px;
  }
  &:hover {
   &::after {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     border-radius: 3px;
     content: '';
     opacity: 0.1;
     background: #FFFFFF;
   }
 }
 &:disabled {
   cursor: not-allowed;
 }
}

.primary {
  background: linear-gradient(315deg, #0097F6 0%, #005EEA 100%);
  color: white;
  &:active {
   box-shadow: inset 1px 1px 3px rgba(0,0,0,.15);
 }
}

.discord {
  background: #7289DA;
  color: white;
}

.github {
  background: #000;
  color: white;
}

.google {
  border: 1px solid #d6d9dc;
  color: #535a60;
}

.twitter {
  background:  #00aced;
  color: #fff;
}
